.vscode/
__pycache__
results/
.devcontainer/
docker/
run_image.bash
data/*/
figs/
visual/
*.png
.ipynb_checkpoints/
*egg-info
data_before_renaming/
matlabcode/
debug/
*.pyc
misc/small_test.py
misc/getting_started_active.py
